#home {
  position: relative;
  // background: url("../../assets/bgIMG.png");

  background: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}
.app__header {
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 6rem 0 0;

  @media screen and (min-width: 2000px) {
    padding-bottom: 8rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    padding: 6rem 0;

    .app__header-circle {
      order: 3;
    }
    .app__header-info {
      order: 1;
    }
    .app__header-img {
      order: 2;
    }
  }
  @media screen and (max-width: 450px) {
    padding: 6rem 0;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    border: var(--white-color);

    // background-color: #c8d0e7;
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    margin: 0 1rem;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;
    P {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
    }
  }

  .about-me {
    height: auto;
    padding: 2rem 0;
    // margin-left: 2rem;
    margin: 0 1rem;

    align-items: center;
    justify-content: center;
    color: var(--gray-color);
    font-size: 2rem;
    @media screen and (max-width: 1200) {
      justify-content: center;
      align-items: center;
    }
  }

  span {
    font-size: 2.5rem;
    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200) {

    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circle {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 60%;
  margin-left: 1rem;

  div {
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--white-color);
    transition: all 0.5s ease-in-out;

    img {
      width: 60%;
      height: 60%;
    }
    &:hover {
      transform: scale(1.2);
    }
  }

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }
  div:nth-child(2) {
    width: 150px;
    height: 150px;
    margin: 1.75rem;
  }
  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }
  div:nth-child(4) {
    width: 90px;
    height: 90px;
    margin: 0 1.75rem;
  }
  div:nth-child(5) {
    width: 120px;
    height: 120px;
    margin: 1rem 0rem;
  }
  div:nth-child(6) {
    width: 80px;
    height: 80px;
    margin: 0rem 4rem;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(1) {
      width: 400px;
      height: 400px;
    }
    div:nth-child(2) {
      width: 170px;
      height: 170px;
      margin: 1.75rem;
    }
    div:nth-child(3) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;


  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;


    @media screen and (max-width: 1200px) {
      border-radius: 0 0 0 1.5rem;
      // margin: 0 1rem;
    }
  }
  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    padding: 1rem;
    padding-top: 5rem;
    height: 100%;
    
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
    width: 90%;
    border-radius: 1.5rem;
    box-shadow: -0.7rem 0.7rem 1.6rem #c8d0e7cc, 0.3rem 0.3rem 1rem #c8d0e7;
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.2);
  }
}
